In [1]:
import pandas as pd
import pymongo

In [2]:
database_name = 'test'

mongo_client = pymongo.MongoClient("mongodb://localhost:27017/")
db           = mongo_client[database_name]
email_db     = db['emails']

In [3]:
df = pd.read_json('out.json')

In [4]:
df

,_id,subject,from,date,body,cleaned_body,sentences,entities
0,9,You may lose access to some of your third-part...,Google <no-reply@accounts.google.com>,"Fri, 04 Mar 2022 02:36:00 GMT","[image: Google]\r\nOn May 30, you may lose acc...","[image: Google] On May 30, you may lose access...","Sentence: ""[ image : Google ] On May 30 , you ...","[{'text': 'Google', 'start_pos': 8, 'end_pos':..."
1,10,Test Email for MailEx,Abdul Rafey <arafey183@gmail.com>,"Sun, 27 Feb 2022 15:57:54 +0500",Please ignore this email\r\n,Please ignore this email,"Sentence: ""Please ignore this email"" [− Toke...",[]

In [30]:
pop = df.to_dict('r')

C:\Users\ABDULR~1\AppData\Local\Temp/ipykernel_8808/345413323.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  pop = df.to_dict('r')

In [33]:
pop = email_db.insert_many(pop)

In [7]:
import re

string = "Google <no-reply@accounts.google.com>"

string2 = "Abdul Rafey <arafey183@gmail.com>"

re.search(r'\<(.*?)\>', string2).group(1)

'arafey183@gmail.com'

In [9]:
re.match("(.*?)<",string).group(1)

'Google '

In [11]:
temp = db['num_read_emails']

temp.insert_one({'_id': 0, 'num_read_emails': 8})

In [13]:
for i in temp.find():
    print(i)

{'_id': 0, 'num_read_emails': 8}

In [16]:
myquery = temp.find()[0]
newvalues = { "$set": { "num_read_emails": 10 } }

temp.update_one(myquery, newvalues)